<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionStringLocal" value="Data Source=.\SQL2012;Initial Catalog=DRAGONFISH_DEMO;Integrated Security=True;Connect Timeout=10"/>
    <add key="ConnectionStringRemoto" value="Data Source=.\SQLEXPRESS2012;Initial Catalog=Replica_DEMO_12313-1f39-4087-6542-54498748;Integrated Security=True;"/>
  </appSettings>
  <startup>
      
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  <system.diagnostics>
    <switches>
      <!--  0-off, 1-error, 2-warn, 3-info, 4-verbose. -->
      <add name="SyncTracer" value="0"/>
    </switches>

    <trace autoflush="true">
      <listeners>
        <add name="TestListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LogueoDeSyncFramework.log"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
